extends base

prepend window_title
  
  = page.title
  = "&mdash;"

append content

  nav.article-pagination.top
    include _partial/article_pagination

  article(class=page.layout)
    a(href=page.permalink)
      h2= page.title
    div.meta
      include _partial/article_meta
      +date(page.date)
      +category(page.categories)
    
    .content-column
      if moment() - page.date > 1000*60*60*24*365
        .disclaimer
          h4= __("old_article_disclaimer_header")
          p= __("old_article_disclaimer")

      != page.content

  nav.article-pagination.bottom
    include _partial/article_pagination
